<nav class="center nav">
  <ul>
    <div class="left">
      <li><a [routerLink]="'/'">Logo</a></li>
    </div>
    <div class="center">
      <li>
        <form action="">
          <input type="text" name="search" placeholder="Search by item name" class="search">
          <select class="select">
            <option>All categories</option>
            <option>tag</option>
            <option>no_tag</option>
          </select>
        </form>
      </li>
    </div>

    <div class="right">
      <li><a href="#"><img ngSrc="/assets/img/like.svg" height="10" width="10"/></a></li>
      <li><a [routerLink]="'/checkout'"><img ngSrc="/assets/img/shop.svg" height="10" width="10"  alt="shop"/></a></li>

      <span *ngIf="isAuthorize">
        <li><a (click)="logout()" [routerLink]="">Logout</a></li>
      </span>
      <span *ngIf="!isAuthorize">
        <li><a [routerLink]="'/login'">Login</a></li>
        <li>|</li>
        <li><a [routerLink]="'/register'">Sign-Up</a></li>
      </span>

    </div>
  </ul>
</nav>
